# Скопируйте этот файл в .env и поменяйте значения на свои
POSTGRES_USER=accountthis_user
POSTGRES_PASSWORD=change_me_please
POSTGRES_DB=accountthis_db

# Порт, на котором база будет доступна с вашего компьютера (для DBeaver/pgAdmin и т.д.)
POSTGRES_PORT=5432

# Порт, на котором backend будет доступен с вашего компьютера напрямую (без nginx)
BACKEND_PORT=5000

# Показывать ли Swagger UI. На локальной разработке - true, на проде поставим false
ENABLE_SWAGGER=true
